# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/linux-64/_libgcc_mutex-0.1-conda_forge.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/_tflow_select-2.1.0-gpu.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/ca-certificates-2022.4.26-h06a4308_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ld_impl_linux-64-2.38-h1181459_1.conda
https://conda.anaconda.org/anaconda/linux-64/libgfortran4-7.5.0-ha8ba4b0_17.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libstdcxx-ng-11.2.0-h1234567_0.conda
https://conda.anaconda.org/conda-forge/linux-64/llvm-openmp-12.0.1-h4bd325d_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/mysql-common-8.0.25-ha770c72_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/_openmp_mutex-4.5-2_kmp_llvm.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libgfortran-ng-7.5.0-ha8ba4b0_17.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgcc-ng-12.1.0-h8d9b700_16.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/mkl-2020.4-h726a3e6_304.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/abseil-cpp-20210324.2-h2531618_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/brotli-1.0.9-he6710b0_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/bzip2-1.0.8-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/c-ares-1.18.1-h7f8727e_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/charls-2.2.0-h2531618_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cudatoolkit-11.1.1-ha002fc5_10.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/expat-2.4.4-h295c915_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/giflib-5.2.1-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gmp-6.2.1-h2531618_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/graphite2-1.3.14-h23475e2_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/icu-68.1-h2531618_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/jpeg-9e-h7f8727e_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/jxrlib-1.1-h7b6447c_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/lame-3.100-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/lerc-3.0-h295c915_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libaec-1.0.4-he6710b0_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libblas-3.9.0-8_mkl.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libdeflate-1.8-h7f8727e_5.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libev-4.33-h7f8727e_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libffi-3.3-he6710b0_2.conda
https://conda.anaconda.org/anaconda/linux-64/libiconv-1.16-h7f8727e_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libtasn1-4.16.0-h27cfd23_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libunistring-0.9.10-h27cfd23_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libuuid-1.0.3-h7f8727e_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libwebp-base-1.2.2-h7f8727e_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libxcb-1.14-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libzopfli-1.0.3-he6710b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/lz4-c-1.9.3-h295c915_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ncurses-6.3-h7f8727e_2.conda
https://conda.anaconda.org/anaconda/linux-64/ninja-base-1.10.2-hd09550d_5.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/nspr-4.33-h295c915_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/openh264-2.1.1-h4ff587b_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/openssl-1.1.1n-h7f8727e_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pcre-8.45-h295c915_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pixman-0.40.0-h7f8727e_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/re2-2021.08.01-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/sleef-3.5.1-h9b69904_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/snappy-1.1.9-h295c915_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/x264-1!152.20180806-h7b6447c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/xz-5.2.5-h7f8727e_1.conda
https://conda.anaconda.org/anaconda/linux-64/yaml-0.2.5-h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/zfp-0.5.5-h295c915_6.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/zlib-1.2.12-h7f8727e_2.conda
https://conda.anaconda.org/conda-forge/linux-64/blosc-1.21.1-hd32f23e_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/brunsli-0.1-h2531618_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/glib-2.68.2-h36276a3_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/hdf5-1.10.6-hb1b8bf9_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jasper-1.900.1-h07fcdf6_1006.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libcblas-3.9.0-8_mkl.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libedit-3.1.20210910-h7f8727e_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libevent-2.1.10-h9b69904_4.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libidn2-2.3.2-h7f8727e_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/liblapack-3.9.0-8_mkl.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libllvm11-11.1.0-h3826bc1_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libnghttp2-1.46.0-hce63b2e_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libpng-1.6.37-hbc83047_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libprotobuf-3.15.8-h780b84a_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libssh2-1.10.0-h8f2d780_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxml2-2.9.12-h72842e0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/nettle-3.7.3-hbbd107a_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/readline-8.1.2-h7f8727e_1.conda
https://repo.anaconda.com/pkgs/main/linux-64/tk-8.6.11-h1ccaba5_1.conda
https://conda.anaconda.org/anaconda/linux-64/zstd-1.4.9-haebb681_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/dbus-1.13.18-hb2f20db_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/freetype-2.11.0-h70c0345_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gettext-0.21.0-hf68c758_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/gnutls-3.6.15-he1e5248_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/grpc-cpp-1.37.1-hfc4d69e_3.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/krb5-1.19.2-hac12032_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libclang-11.1.0-default_ha53f305_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libfaiss-1.7.2-cuda111h7721031_0_cuda.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libfaiss-avx2-1.7.2-cuda111h1234567_0_cuda.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/liblapacke-3.9.0-8_mkl.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libtiff-4.2.0-hbd63e13_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxkbcommon-1.0.3-he3ba5ed_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/mysql-libs-8.0.25-h935591d_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/sqlite-3.38.3-hc218d9a_0.conda
https://conda.anaconda.org/conda-forge/linux-64/ffmpeg-4.3.1-h03821db_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/fontconfig-2.13.1-h6c09931_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/lcms2-2.12-h3be6417_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libcurl-7.82.0-h0b77cf5_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libglib-2.68.2-h3e27bee_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libpq-12.9-hc2c5182_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/libwebp-1.2.2-h55f646e_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/nss-3.74-h0370c37_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/openjpeg-2.4.0-h3ad879b_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/python-3.8.13-h12debd9_0.conda
https://conda.anaconda.org/anaconda/noarch/appdirs-1.4.4-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/attrs-21.4.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/blinker-1.4-py38h06a4308_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/cachetools-4.2.2-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/cairo-1.16.0-hf32fb01_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/certifi-2021.10.8-py38h06a4308_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cfgv-3.3.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/cfitsio-3.470-hf0d0db6_6.tar.bz2
https://conda.anaconda.org/anaconda/noarch/charset-normalizer-2.0.4-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/click-8.0.4-py38h06a4308_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/cloudpickle-2.0.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/colorama-0.4.4-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/cycler-0.11.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/dataclasses-0.8-pyh6d0b6a4_7.tar.bz2
https://conda.anaconda.org/anaconda/noarch/distlib-0.3.2-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/filelock-3.6.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/frozenlist-1.2.0-py38h7f8727e_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/fsspec-2022.2.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/future-0.18.2-py38_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/gast-0.3.3-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gstreamer-1.18.4-h76c114f_2.tar.bz2
https://conda.anaconda.org/anaconda/noarch/idna-3.3-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/iniconfig-1.1.1-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/joblib-1.1.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/kiwisolver-1.3.2-py38h295c915_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/locket-0.2.1-py38h06a4308_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/markupsafe-2.0.1-py38h27cfd23_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/multidict-5.2.0-py38h7f8727e_2.tar.bz2
https://conda.anaconda.org/anaconda/noarch/munkres-1.1.4-py_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/networkx-2.7.1-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/ninja-1.10.2-h06a4308_5.tar.bz2
https://conda.anaconda.org/anaconda/noarch/parso-0.8.3-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pillow-9.0.1-py38h22f2fdc_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pluggy-1.0.0-py38h06a4308_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/py-1.11.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pyasn1-0.4.8-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pycparser-2.21-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pydeprecate-0.3.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pygments-2.11.2-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pyparsing-3.0.4-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pysocks-1.7.1-py38h06a4308_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/python-flatbuffers-1.12-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/python_abi-3.8-2_cp38.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pytz-2021.3-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pyyaml-6.0-py38h7f8727e_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/six-1.16.0-pyhd3eb1b0_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/termcolor-1.1.0-py38h06a4308_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/threadpoolctl-2.2.0-pyh0d69192_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/toml-0.10.2-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/tomli-1.2.2-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/toolz-0.11.2-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/tornado-6.1-py38h27cfd23_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/tqdm-4.64.0-py38h06a4308_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/typing_extensions-4.1.1-pyh06a4308_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/urwid-2.1.2-py38h7b6447c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/wheel-0.37.1-pyhd3eb1b0_0.conda
https://conda.anaconda.org/anaconda/linux-64/wrapt-1.13.3-py38h7f8727e_2.tar.bz2
https://conda.anaconda.org/anaconda/noarch/zipp-3.7.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/absl-py-0.15.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/aiosignal-1.2.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/astunparse-1.6.3-py_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/cffi-1.15.0-py38hd667e15_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/commonmark-0.9.1-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/cytoolz-0.11.0-py38h7b6447c_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/fonttools-4.25.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/google-pasta-0.2.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gst-plugins-base-1.14.5-h0935bb2_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/harfbuzz-2.8.1-h83ec7ef_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/importlib-metadata-4.11.3-py38h06a4308_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/jedi-0.18.1-py38h06a4308_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/jinja2-3.0.3-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/numpy-1.22.3-py38h99721a1_2.tar.bz2
https://conda.anaconda.org/anaconda/noarch/packaging-21.3-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/partd-1.2.0-pyhd3eb1b0_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pyasn1-modules-0.2.8-py_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/python-dateutil-2.8.2-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/python-dotenv-0.20.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/rsa-4.7.2-pyhd3eb1b0_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/setuptools-61.2.0-py38h06a4308_0.conda
https://conda.anaconda.org/anaconda/noarch/typing-extensions-4.1.1-hd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/urwid_readline-0.13-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/virtualenv-20.4.6-py38h06a4308_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/werkzeug-2.0.3-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/yacs-0.1.6-pyhd3eb1b0_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/yarl-1.6.3-py38h27cfd23_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/async-timeout-4.0.1-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/bottleneck-1.3.4-py38hce1f21e_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/brotlipy-0.7.0-py38h27cfd23_1003.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/cryptography-36.0.0-py38h9ce1e76_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/dask-core-2022.2.1-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/faiss-1.7.2-py38cuda111h8aadefc_0_cuda.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/grpcio-1.37.1-py38hdd6454d_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/h5py-2.10.0-py38hd6299e0_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/imagecodecs-2021.8.26-py38h4cda21f_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/imageio-2.9.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/markdown-3.3.4-py38h06a4308_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/matplotlib-base-3.5.1-py38ha18d171_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/nodeenv-1.6.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/numexpr-2.7.3-py38h43a58ef_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/opt_einsum-3.3.0-pyhd3eb1b0_1.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pip-21.2.4-py38h06a4308_0.conda
https://conda.anaconda.org/conda-forge/linux-64/protobuf-3.15.8-py38h709712a_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pudb-2022.1-pyhd8ed1ab_1.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pytest-7.1.1-py38h06a4308_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/python-louvain-0.15-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/pytorch/linux-64/pytorch-1.8.0-py3.8_cuda11.1_cudnn8.0.5_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pywavelets-1.3.0-py38h7f8727e_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/qt-5.12.9-h9d6b050_2.tar.bz2
https://conda.anaconda.org/anaconda/noarch/rich-10.16.2-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/scipy-1.5.3-py38h828c644_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/tensorboard-plugin-wit-1.6.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/torchvision-0.9.0-py38h3f3a366_0_cpu.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ukkonen-1.0.1-py38h43d8883_2.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/aiohttp-3.8.1-py38h7f8727e_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/faiss-gpu-1.7.2-h788eb59_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/identify-2.5.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/keras-preprocessing-1.1.2-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libopencv-4.5.2-py38hcdf9bf1_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pandas-1.4.2-py38h295c915_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/pyjwt-1.7.1-py38_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/pyopenssl-22.0.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyqt-5.12.3-py38ha8c2ead_4.tar.bz2
https://conda.anaconda.org/pyg/linux-64/pytorch-cluster-1.5.9-py38_torch_1.8.0_cu111.tar.bz2
https://conda.anaconda.org/pyg/linux-64/pytorch-scatter-2.0.8-py38_torch_1.8.0_cu111.tar.bz2
https://conda.anaconda.org/pyg/linux-64/pytorch-spline-conv-1.2.1-py38_torch_1.8.0_cu111.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/scikit-learn-1.0.2-py38h51133e4_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/tifffile-2021.7.2-pyhd3eb1b0_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/torchmetrics-0.6.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/matplotlib-3.5.1-py38h06a4308_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/oauthlib-3.1.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pre-commit-2.19.0-py38h578d9bd_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/py-opencv-4.5.2-py38hd0cf306_0.tar.bz2
https://conda.anaconda.org/metric-learning/noarch/pytorch-metric-learning-1.3.0-pyh39e3cac_0.tar.bz2
https://conda.anaconda.org/pyg/linux-64/pytorch-sparse-0.6.12-py38_torch_1.8.0_cu111.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/scikit-image-0.19.2-py38h51133e4_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/urllib3-1.26.9-py38h06a4308_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/opencv-4.5.2-py38h578d9bd_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pre_commit-2.19.0-hd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/requests-2.27.1-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/seaborn-0.11.2-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/google-auth-2.6.0-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/googledrivedownloader-0.4-pyhd3deb0d_1.tar.bz2
https://conda.anaconda.org/anaconda/noarch/requests-oauthlib-1.3.0-py_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/google-auth-oauthlib-0.4.4-pyhd3eb1b0_0.tar.bz2
https://conda.anaconda.org/pyg/linux-64/pyg-2.0.1-py38_torch_1.8.0_cu111.tar.bz2
https://conda.anaconda.org/anaconda/noarch/tensorboard-2.4.0-pyhc547734_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pytorch-lightning-1.4.9-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/anaconda/linux-64/tensorflow-gpu-2.4.1-h30adc30_0.tar.bz2
https://conda.anaconda.org/anaconda/noarch/tensorflow-estimator-2.4.1-pyheb71bc4_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tensorflow-base-2.4.1-py38h83f5f1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tensorflow-2.4.1-py38h578d9bd_0.tar.bz2
