# Requirements python==3.8

# --------- hydra --------- #
hydra-core==1.1.0.dev5
hydra-colorlog==1.0.0
hydra-optuna-sweeper==0.9.0rc2
# --------- loggers --------- #
wandb>=0.10.20

# --------- others --------- #
# scikit-fmm==2021.2.2


