# Requirements python==3.8

# --------- pytorch-metric-learning --------- #
pytorch-metric-learning
record-keeper
tensorboard
# --------- hydra --------- #
hydra-core==1.1.0.dev5
hydra-colorlog==1.0.0
hydra-optuna-sweeper==0.9.0rc2
# --------- loggers --------- #
wandb>=0.10.20

# --------- for segmentation algorithm --------- #
# --------- tensorflow for seg --------- #
tensorflow-gpu==2.4.0
# --------- others (seg) --------- #
scikit-fmm==2021.2.2

# --------- others --------- #
opencv-python==4.5.1.48
rich
python-dotenv
pre-commit
scikit-learn
scikit-image
pandas
matplotlib
pudb
pytest
imagecodecs
imageio
seaborn
Pillow



